/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}



.snack-bar {
    background-color: #2EE453;
    color: white;
}

.snack-bar-red {
    background-color: #E6371C;
    color: white;
}