<div style="text-align: center;">
    <div *ngIf="!isMatch">
        <h3>Password does not match</h3>
    </div>
    <div *ngIf="passwordChangedSuccessfully"
         style="color: green;">
        <h3>passwordChangedSuccessfully</h3>
    </div>
    <form [formGroup]="form">
        <div>
            <mat-form-field appearance="outline"
                            class="input-width">
                <mat-icon matPrefix>lock</mat-icon>
                <input matInput
                       type="password"
                       formControlName="newPassword"
                       placeholder="New Password">
                <mat-error *ngIf="getErrorMessage('newPassword', 'required')">
                    mbush fushen e fjalekalimit
                </mat-error>
                <mat-error *ngIf="getErrorMessage('newPassword', 'pattern')">
                    Password duhet te permbaj Shkronje te madhe, numra, symbole dhe te jete mbi 8 karaktere!
                </mat-error>
            </mat-form-field>
        </div><br>
        <div>
            <mat-form-field appearance="outline"
                            class="input-width">
                <mat-icon matPrefix>lock</mat-icon>
                <input matInput
                       type="password"
                       formControlName="confirmPassword"
                       placeholder="Confirm Password">
                <mat-error *ngIf="getErrorMessage('confirmPassword', 'required')">
                    mbush fushen e fjalekalimit
                </mat-error>
            </mat-form-field>
        </div>
        <button mat-raised-button
                (click)="changePassword()">
            Confirm
        </button>
    </form>
</div>