<div class="medical-logo-style">
    <img src="assets/images/medical-logo.png"
         alt=""
         width="10%">
</div>

<div class="title-style">
    <span>Create Account</span>
</div>
<div class="image-input">
    <div class="image-style">
        <img src="assets/images/doctor2.jpg"
             alt=""
             width="80%">
    </div>
    <div class="form-style">
        <form action="">
            <div>
                <mat-form-field appearance="outline">

                    <input matInput
                           type="text"
                           formControlName="name"
                           placeholder="Name">

                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="outline">

                    <input matInput
                           type="text"
                           formControlName="surname"
                           placeholder="Surname">

                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="outline">

                    <input matInput
                           type="text"
                           formControlName="email"
                           placeholder="Email">

                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="outline">

                    <input matInput
                           type="text"
                           formControlName="password"
                           placeholder="Password">

                </mat-form-field>
            </div>
            <div class="register-button">
                <button mat-raised-button
                        color="primary"
                        type="submit">Register</button>
            </div>
        </form>
    </div>
</div>