<header>
    <div class="header-grid">
        <div class="header-left-style">
            <div class="medical-icon">
                <img src="assets/images/medical.png"
                     alt="">
            </div>
            <button mat-button> Health</button>
        </div>
        <div class="header-right-style">

            <button mat-button
                    routerLink="/home"> Home</button>
            <button mat-button
                    routerLink="/service"> Service</button>
            <button mat-button
                    routerLink="/planing-princing"> Planing & Pricing</button>
            <div class="create-login-button">
                <button mat-button
                        routerLink="/register-client"> Create Account</button>
                <button mat-button
                        routerLink="/login"> Login</button>
            </div>
        </div>
    </div>
    <hr class="hr-style ">
</header>

<router-outlet></router-outlet>

<br>
<footer>
    <div class="footer">

        <span>Developet by F.J</span>


    </div>
</footer>