<header>
    <div class="header-grid">
        <div class="header-left-style">
            <div class="medical-icon">
                <img src="assets/images/medical.png"
                     alt="">
            </div>
            <button mat-button> Health</button>
        </div>
        <div class="header-right-style">

            <button mat-button> Home</button>
            <button mat-button> Service</button>
            <button mat-button> Planing & Pricing</button>
            <div class="create-login-button">
                <button mat-button> Create Account</button>
                <button mat-button> Login</button>
            </div>
        </div>
    </div>
    <hr class="hr-style ">
</header>

<router-outlet></router-outlet>

<br>
<footer>
    <div class="footer">
        <span>Developet by F.J</span>
    </div>

</footer>