<div class="forgot-password">
    <div *ngIf="checkYourEmail">
        <h2>Check your email</h2>
    </div>
    <form [formGroup]="form"
          autocomplete="off"
          *ngIf="!checkYourEmail">
        <mat-form-field appearance="outline">
            <mat-icon matPrefix>person</mat-icon>
            <input matInput
                   type="email"
                   formControlName="email"
                   placeholder="email" />
            <mat-error *ngIf="getErrorMessage('email', 'required')">
                Fill in the email field
            </mat-error>
        </mat-form-field><br>
        <button mat-stroked-button
                color="primary"
                (click)="forgotPassword()">
            <span>Confirm</span>
        </button>
    </form>
</div>