<div class="hand-photo">
    <div class="hand">
        <div class="hand-icon">
            <img src="assets/images/right.png"
                 alt="">
            <button mat-stroked-button
                    color="primary">Welcome to Healthcore</button>
        </div><br>

        <div class="text">
            <span>For private <br><br> clinics and <br><br> medical centers</span>
        </div><br>
        <div class="text-one">
            <span>Good health is a state of mental, physical and social well being <br> and it does not just mean the
                absence of
                disease!</span>
        </div>
        <div class="learn-more-button">
            <button mat-stroked-button>Learn More</button>
        </div>
    </div>
    <div class="photo">
        <img src="assets/images/Doctor-Template.jpg"
             alt=""
             width="612"
             height="286">
    </div>
</div>


<div class="background">
    <div class="three-buttons">
        <div class="free-support"><button mat-stroked-button
                    color="primary">Free Support</button></div>
        <div class="free-support"><button mat-stroked-button
                    color="primary">Share Experience</button></div>
        <div class="free-support"><button mat-stroked-button
                    color="primary">Why us</button></div>
    </div>
</div>